<h1>LIST</h1>
<br>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">LogoutGPT</button>
</form>
<br><br>
<a href="{% url 'logout' %}">logout</a>
<br><br>
<a href="{% url 'create' %}">Create</a>


<br><br>
{% if posts %}
  {% for p in posts %}
    <a href="{% url 'detail' p.id %}">{{ p.title }}</a>
    <a href="{% url 'update' p.id %}">update</a>
    <a href="{% url 'delete' p.id %}">delete</a>
    <br><br>
  {% endfor %}
{% else %}
  <p>Sorry no pending posts</p>
{% endif %}
